Repository PRQL/prql, pull requests merged in 2022-12, with the labels that each got.

#1217 docs: website style tweaks
  website/content/faq.md
  website/themes/prql-theme/layouts/shortcodes/faq.html
  website/themes/prql-theme/static/style.css
Labels: web

#1234 chore: Move a couple of files out of root
  .github/.codecov.yml
  .github/.markdown-link-check.json
  .github/workflows/cron.yaml
  .github/workflows/pull-request.yaml
  .pre-commit-config.yaml
Labels: pr-test-all

#1263 build: Use standard hugo install on docker
  Dockerfile
Labels: pr-test-all

#1262 ci: Run full docker test in CI
  .github/workflows/cron.yaml
  .github/workflows/test-all.yaml
  Dockerfile
  USING_DOCKER.md
Labels: pr-test-all

#1293 build: Pin npm version @8
  .github/actions/build-prql-js/action.yaml
  .github/workflows/publish-web.yaml
  Taskfile.yml
Labels: pr-publish-web

#1280 refactor: public API
  book/src/main.rs
  book/src/queries/dialect_and_version.md
  book/src/queries/syntax.md
  book/tests/prql/queries/dialect_and_version-0.prql
  book/tests/prql/queries/dialect_and_version-1.prql
  book/tests/prql/queries/syntax-7.prql
  book/tests/prql/queries/syntax-8.prql
  book/tests/prql/queries/syntax-9.prql
  book/tests/snapshot.rs
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__dialect_and_version-0.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__dialect_and_version-1.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__dialect_and_version-2.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__syntax-7.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__syntax-8.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__syntax-9.prql.snap
  playground/src/workbench/Workbench.js
  prql-compiler/benches/bench.rs
  prql-compiler/src/ast/pl/mod.rs
  prql-compiler/src/ast/pl/stmt.rs
  prql-compiler/src/ast/rq/mod.rs
  prql-compiler/src/cli.rs
  prql-compiler/src/error.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/parser.rs
  prql-compiler/src/semantic/mod.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/sql/codegen.rs
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/translator.rs
  prql-compiler/src/test.rs
  prql-compiler/src/utils/only.rs
  prql-java/src/lib.rs
  prql-js/README.md
  prql-js/src/lib.rs
  prql-js/tests/test_all.js
  prql-lib/src/lib.rs
  prql-macros/src/lib.rs
  prql-python/README.md
  prql-python/python/tests/test_all.py
  prql-python/src/lib.rs
  website/content/_index.md
Labels: pr-test-all

#1302 build: set flag '--install-links=false' for playground related npm i
  .github/actions/build-prql-js/action.yaml
  Taskfile.yml
Labels: pr-test-all, pr-publish-web

#1310 ci: Deploy GH Pages unless on a fork
  .github/workflows/publish-web.yaml
Labels: pr-publish-web

#1322 feat: compiler signature
  book/src/lib.rs
  book/tests/snapshot.rs
  prql-compiler/benches/bench.rs
  prql-compiler/src/lib.rs
  prql-compiler/src/semantic/resolver.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/translator.rs
  prql-compiler/src/test.rs
  prql-compiler/tests/integration/main.rs
  prql-java/java/src/test/java/org/prql/prql4j/PrqlCompilerTest.java
  prql-java/src/lib.rs
  prql-js/src/lib.rs
  prql-lib/src/lib.rs
  prql-macros/src/lib.rs
  prql-python/src/lib.rs
Labels: pr-test-all

#1326 fix: Links to stdlib file
  book/src/stdlib.md
  website/content/roadmap.md
Labels: pr-test-all

#1366 docs: static tweets for website
  website/content/_index.md
  website/themes/prql-theme/layouts/partials/section-comments.html
  website/themes/prql-theme/static/style.css
Labels: pr-publish-web
