Repository PRQL/prql, pull requests merged in 2023-02, with the labels that each got.

#1691 docs: Fix SQL number in showcase
  website/content/_index.md
Labels: backport website

#1702 docs: Docs change to simulate backport
  book/src/contributing/development.md
Labels: pr-backport-web

#1715 docs: Add note re breaking changes
  book/src/contributing/development.md
Labels: pr-backport-web

#1727 feat(prql-compiler): implement Target::names() and Dialect::names() to show available target names or dialect names
  prql-compiler/src/lib.rs
  prql-compiler/src/sql/dialect.rs
Labels: pr-test-all

#1736 docs: Update dev call
  book/src/contributing/fortnightly-dev-call.ics
Labels: pr-backport-web

#1747 fix: Delegate int division to DB
  CHANGELOG.md
  prql-compiler/src/semantic/static_analysis.rs
  prql-compiler/src/test.rs
  website/content/_index.md
Labels: pr-test-all

#1721 docs: opensource website fonts
  playground/src/index.css
  playground/src/sidebar/Sidebar.css
  playground/src/sidebar/Sidebar.js
  website/themes/prql-theme/static/fonts/AvenirNext.woff
  website/themes/prql-theme/static/fonts/AvenirNext.woff2
  website/themes/prql-theme/static/fonts/inter-extra-bold.woff2
  website/themes/prql-theme/static/fonts/inter-extra-nold.woff
  website/themes/prql-theme/static/style.css
Labels: pr-publish-web

#1756 docs: Add docs for `from_text`
  CHANGELOG.md
  book/book.toml
  book/highlight-prql.js
  book/src/SUMMARY.md
  book/src/transforms/from_text.md
  book/tests/prql/transforms/from_text-0.prql
  book/tests/prql/transforms/from_text-1.prql
  book/tests/prql/transforms/from_text-2.prql
  book/tests/snapshots/snapshot__@transforms__from_text-0.prql.snap
  book/tests/snapshots/snapshot__@transforms__from_text-1.prql.snap
  book/tests/snapshots/snapshot__@transforms__from_text-2.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@transforms__from_text-0.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@transforms__from_text-1.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@transforms__from_text-2.prql.snap
  playground/src/workbench/prql-syntax.js
  website/themes/prql-theme/static/plugins/highlight/prql.js
Labels: pr-backport-web

#1780 docs(web): Use external book link
  book/src/contributing/fortnightly-dev-call.ics
  website/config.yml
Labels: pr-backport-web

#1758 docs: Change http to https
  website/content/_index.md
Labels: pr-test-all

#1782 ci: Install `mdbook-footnote` when publishing the book
  .github/workflows/publish-web.yaml
  .github/workflows/pull-request.yaml
Labels: pr-backport-web

#1784 docs: Always use integrated playground
  Taskfile.yml
  website/config.yml
  website/content/book_integrated.html
  website/content/playground.html
  website/content/playground_integrated.html
Labels: pr-publish-web

#1786 fix(prql-compiler): not found error for target not starts with `sql.`
  prql-compiler/src/sql/gen_query.rs
  prql-compiler/src/test.rs
Labels: pr-test-all

#1794 docs: Always show integrated playground
  Taskfile.yml
  playground/package.json
  website/config.yml
  website/content/book_integrated.html
  website/content/playground.html
  website/content/playground_integrated.html
Labels: pr-publish-web

#1805 docs: Adjust "Tables" to "Variables" in book
  book/src/SUMMARY.md
  book/src/queries/variables.md
  book/tests/prql/queries/variables-0.prql
  book/tests/prql/queries/variables-1.prql
  book/tests/snapshots/snapshot__@queries__variables-0.prql.snap
  book/tests/snapshots/snapshot__@queries__variables-1.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__variables-0.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__variables-1.prql.snap
Labels: pr-backport-web

#1819 docs: Redo some of the showcase
  website/content/_index.md
  website/themes/prql-theme/layouts/_default/home.html
Labels: pr-backport-web

#1821 docs: Improve number & operator highlighting
  book/highlight-prql.js
  website/themes/prql-theme/static/plugins/highlight/prql.js
Labels: pr-backport-web

#1823 docs: Add ranges to showcase
  website/content/_index.md
Labels: pr-backport-web

#1833 docs: Add reference to prepared queries
  book/src/syntax.md
Labels: pr-backport-web

#1843 docs: Replace northeast-arrow symbol
  playground/src/sidebar/Sidebar.js
Labels: pr-backport-web

#1846 docs: Fix capitalization
  CHANGELOG.md
  README.md
  book/src/SUMMARY.md
  book/src/bindings/java.md
  book/src/contributing/README.md
  book/src/contributing/development.md
  book/src/contributing/using-docker.md
  book/src/integrations/README.md
  book/src/integrations/dbt.md
  book/src/integrations/prefect.md
  book/src/integrations/vscode.md
  book/src/internals/syntax-highlighting.md
  book/src/introduction.md
  book/src/language-features/README.md
  book/src/language-features/f-strings.md
  book/src/language-features/s-strings.md
  book/src/language-features/strings.md
  book/src/syntax.md
  prql-elixir/README.md
  prql-java/DEVELOPMENT.md
  website/content/_index.md
  website/content/posts/2023-01-28-format-pretty-reports/_index.md
Labels: pr-backport-web

#1871 ci: Another pass of GHA actions
  .github/actions/build-prql-python/action.yaml
  .github/workflows/test-all.yaml
  .github/workflows/test-elixir.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
Labels: pr-test-all

#1873 fix: playground link in readme badge
  README.md
Labels: pr-backport-web

#1884 docs: add information on treesitter grammar for prql
  book/src/internals/syntax-highlighting.md
Labels: pr-backport-web

#1877 docs: update prqlc and prql-compiler's description in the website index page
  website/content/_index.md
Labels: pr-backport-web

#1939 web: Attempt to default to the SQL view in playground
  playground/src/examples.js
Labels: pr-backport-web
