Repository PRQL/prql, pull requests merged in 2023-04, with the labels that each got.

#2366 docs(changelog): fix typo and tweak some items related to breaking chage of 0.6.0
  CHANGELOG.md
  web/book/src/language-features/case.md
Labels: pr-backport-web

#2341 docs: Refine "Compiler architecture"
  web/book/src/internals/compiler-architecture.md
Labels: pr-backport-web

#2369 docs(book): add note about marking prql as elm for syntax highlighting
  web/book/src/internals/syntax-highlighting.md
Labels: pr-backport-web

#2362 test: Refactor integration tests
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
  prql-compiler/Cargo.toml
  prql-compiler/tests/integration-rdbms/docker-compose.yml
  prql-compiler/tests/integration-rdbms/main.rs
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@distinct.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@genre_counts.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@group_all.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@invoice_totals.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@loop.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@pipelines.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@set_ops_remove.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@switch.prql.snap
  prql-compiler/tests/integration/README.md
  prql-compiler/tests/integration/connection.rs
  prql-compiler/tests/integration/data/chinook/chinook.db
  prql-compiler/tests/integration/docker-compose.yml
  prql-compiler/tests/integration/integration.dockerfile
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/postgres.dockerfile
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@distinct.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@group_all.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@invoice_totals.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@loop.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@pipelines.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@set_ops_remove.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__rdbms@switch.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__test@distinct.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__test@invoice_totals.prql.snap
  web/book/src/contributing/development.md
Labels: pr-test-all

#2381 ci: Fix when to check for unreferenced snapshots
  .github/workflows/test-rust.yaml
Labels: pr-test-all

#2436 fix: Fix links from #2425
  web/book/src/SUMMARY.md
  web/book/src/queries/pipelines.md
  web/book/src/syntax/quoted-identifiers.md
  web/book/src/syntax/quoted-indentifiers.md
  web/book/src/syntax/quoting-schemas.md
  web/book/src/syntax/quoting.md
  web/book/src/transforms/from.md
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-indentifiers-0.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-indentifiers-1.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-indentifiers-2.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-indentifiers-3.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-indentifiers-4.prql.snap
Labels: pr-backport-web

#2441 docs(fix): Fix link
  web/website/content/posts/2023-02-02-one-year/_index.md
Labels: pr-backport-web

#2444 docs: Put `case` in alphabetical order in book
  web/book/src/SUMMARY.md
Labels: pr-backport-web

#2446 docs(changelog): fix typo of issue number
  CHANGELOG.md
Labels: pr-backport-web

#2443 docs: Add `&&` & `||` to syntax table
  web/book/src/syntax/README.md
  web/book/src/syntax/expressions-and-operators.md
Labels: pr-backport-web

#2451 docs: Fix `let` / `table` terms
  web/book/src/syntax/pipes.md
Labels: pr-backport-web

#2452 docs: Fix `quoted-identifiers` file name
  web/book/src/syntax/quoted-identifiers.md
  web/book/src/syntax/quoted-indentifiers.md
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-identifiers-0.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-identifiers-1.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-identifiers-2.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-identifiers-3.prql.snap
  web/book/tests/snapshots/snapshot__tests__prql__syntax__quoted-identifiers-4.prql.snap
Labels: pr-backport-web

#2513 build: Bump `prql-js` in playground
  web/playground/package-lock.json
Labels: pr-backport-web

#2521 revert: duckdb-wasm 1.25 from #2468
  web/playground/package-lock.json
  web/playground/package.json
Labels: pr-publish-web
