Repository PRQL/prql, pull requests merged in 2023-03, with the labels that each got.

#2002 feat: Improve lexer error recovery
  Cargo.lock
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/test.rs
Labels: pr-test-all

#2036 feat!: Rename `switch` to `case`
  CHANGELOG.md
  book/highlight-prql.js
  book/src/SUMMARY.md
  book/src/language-features/README.md
  book/src/language-features/case.md
  book/src/syntax.md
  book/tests/prql/language-features/case-0.prql
  book/tests/prql/language-features/case-1.prql
  book/tests/snapshots/snapshot__@language-features__case-0.prql.snap
  book/tests/snapshots/snapshot__@language-features__case-1.prql.snap
  book/tests/snapshots/snapshot__@language-features__switch-0.prql.snap
  book/tests/snapshots/snapshot__@language-features__switch-1.prql.snap
  book/theme/highlight.js
  playground/src/workbench/prql-syntax.js
  prql-compiler/src/ast/pl/expr.rs
  prql-compiler/src/ast/pl/fold.rs
  prql-compiler/src/ast/rq/expr.rs
  prql-compiler/src/ast/rq/fold.rs
  prql-compiler/src/parser/expr.rs
  prql-compiler/src/parser/lexer.rs
  prql-compiler/src/parser/mod.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/static_analysis.rs
  prql-compiler/src/sql/anchor.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/test.rs
  prql-compiler/tests/integration/data/chinook/tracks.csv
  prql-compiler/tests/integration/queries/switch.prql
  prql-compiler/tests/integration/snapshots/integration__tests__test@switch.prql.snap
  prql-lezer/src/prql.grammar
  website/content/posts/2023-02-02-one-year/_index.md
  website/themes/prql-theme/static/plugins/bootstrap/bootstrap.bundle.min.js
  website/themes/prql-theme/static/plugins/highlight/highlight.min.js
  website/themes/prql-theme/static/plugins/highlight/prql.js
Labels: pr-test-all

#1893 build: add basic devcontainer.json (for Rust, JavaScript, Python)
  .devcontainer/devcontainer.json
  book/src/SUMMARY.md
  book/src/contributing/dev-container.md
Labels: help wanted, needs-discussion

#2077 ci: Adjust logic to skip publish on forks v2
  .github/workflows/publish-web.yaml
Labels: pr-publish-web

#2083 chore: Add lang to loop pseudocode
  book/src/language-features/standard-library/loop.md
Labels: pr-backport-web

#2095 chore: Fix clippy windows issue
  book/tests/snapshot.rs
Labels: pr-test-all

#2114 docs: Add .rpm to changelog
  CHANGELOG.md
Labels: pr-backport-web

#2144 revert: "feat: Code snippets from book in Playground (#2070)"
  web/playground/.gitignore
  web/playground/generateBook.js
  web/playground/package.json
  web/playground/src/app/App.js
  web/playground/src/sidebar/Sidebar.css
  web/playground/src/sidebar/Sidebar.js
Labels: pr-backport-web

#2146 ci: Fix web deployment
  .github/workflows/publish-web.yaml
Labels: pr-publish-web

#2149 chore: Fix formatting in book
  web/book/src/bindings/README.md
Labels: pr-backport-web

#2151 chore: Fix link in book
  web/book/src/bindings/README.md
Labels: pr-backport-web

#2153 docs: Fix book schema presentation
  web/book/src/syntax.md
Labels: pr-backport-web

#2160 docs(book): Fix markdown parsing in code blocks
  web/book/src/lib.rs
Labels: pr-test-all, pr-backport-web

#2164 docs(book): Fix broken dotnet link
  web/book/src/SUMMARY.md
Labels: pr-backport-web

#2163 docs: website pi day post
  web/website/content/posts/2023-03-14-pi-day.md
Labels: pr-backport-web

#2176 Adds post metadata and moves SQL query into an appendix.
  web/website/content/posts/2023-03-14-pi-day.md
Labels: pr-backport-web

#2185 docs: Add links to DuckDB extension
  web/book/src/integrations/README.md
  web/book/src/integrations/duckdb.md
  web/website/content/_index.md
Labels: pr-backport-web

#2187 chore: Fix typo
  web/book/src/integrations/duckdb.md
Labels: pr-backport-web

#2205 fix: Restore bootstrap js file
  web/website/themes/prql-theme/static/plugins/bootstrap/bootstrap.bundle.min.js
Labels: pr-backport-web

#2219 docs: Refine wording in `loop.md`
  web/book/src/language-features/standard-library/loop.md
Labels: pr-backport-web

#2218 chore: Fix missing tag in book
  web/book/src/lib.rs
Labels: pr-backport-web

#2225 docs: Substitute nbsp ("\00a0") for "\1F892"
  web/playground/src/sidebar/Sidebar.css
Labels: pr-backport-web

#2227 revert: "docs: Substitute nbsp ("\00a0") for "\1F892""
  web/playground/src/sidebar/Sidebar.css
Labels: pr-backport-web

#2235 docs: Fix Playground sidebar
  web/playground/src/sidebar/Sidebar.css
  web/playground/src/sidebar/Sidebar.js
Labels: pr-backport-web

#2238 docs(book): update bindings' pages
  web/book/src/bindings/java.md
  web/book/src/bindings/python.md
  web/book/src/bindings/r.md
Labels: pr-backport-web

#2236 docs(book): add missing links of integrations pages
  web/book/src/SUMMARY.md
  web/book/src/integrations/README.md
Labels: pr-backport-web

#2237 docs(book): fix typo of dbt integrations page
  web/book/src/integrations/dbt.md
Labels: pr-backport-web

#2256 docs: Suggest following releases, rather than #1
  web/book/src/contributing/README.md
  web/book/src/contributing/development.md
Labels: pr-backport-web

#2260 web: Update links to Contributing
  CHANGELOG.md
  web/website/config.yml
Labels: pr-backport-web

#2262 chore: Follow-up to #2256
  web/website/config.yml
Labels: pr-backport-web

#2287 ci: Ensure consistent web deployments
  .github/workflows/publish-web.yaml
Labels: pr-backport-web

#2276 docs: Create helpers.md
  web/book/src/SUMMARY.md
  web/book/src/internals/helpers.md
Labels: pr-backport-web

#2302 chore: Fixup #2297
  Dockerfile
Labels: pr-test-all

#2313 revert: #2208
  web/website/content/faq.md
  web/website/content/press-material.md
Labels: pr-backport-web

#2286 test: more RDBMS integration tests in CI
  .github/workflows/test-rust.yaml
  .github/workflows/test-taskfile.yaml
  Cargo.lock
  Taskfile.yml
  prql-compiler/Cargo.toml
  prql-compiler/tests/integration-rdbms/conf/my.cnf
  prql-compiler/tests/integration-rdbms/connection.rs
  prql-compiler/tests/integration-rdbms/docker-compose.yml
  prql-compiler/tests/integration-rdbms/main.rs
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@distinct.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@genre_counts.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@group_all.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@invoice_totals.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@loop.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@pipelines.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@set_ops_remove.prql.snap
  prql-compiler/tests/integration-rdbms/snapshots/integration_rdbms__tests__rdbms@switch.prql.snap
  prql-compiler/tests/integration/data/chinook/employees.csv
  prql-compiler/tests/integration/data/chinook/schema.sql
  prql-compiler/tests/integration/queries/group_all.prql
  prql-compiler/tests/integration/queries/invoice_totals.prql
  prql-compiler/tests/integration/queries/loop.prql
  prql-compiler/tests/integration/queries/pipelines.prql
  prql-compiler/tests/integration/queries/set_ops_remove.prql
  prql-compiler/tests/integration/queries/switch.prql
  prql-compiler/tests/integration/snapshots/integration__tests__test@group_all.prql.snap
Labels: pr-test-all
