Repository PRQL/prql, pull requests merged in 2023-01, with the labels that each got.

#1401 feat: Use `target` rather than `dialect`
  CHANGELOG.md
  book/src/queries/dialect-and-version.md
  book/src/queries/syntax.md
  book/tests/prql/queries/dialect-and-version-0.prql
  book/tests/prql/queries/dialect-and-version-1.prql
  book/tests/prql/queries/syntax-7.prql
  book/tests/prql/queries/syntax-8.prql
  book/tests/prql/queries/syntax-9.prql
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__dialect-and-version-0.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__dialect-and-version-1.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__syntax-7.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__syntax-8.prql.snap
  book/tests/snapshots/snapshot__run_display_reference_prql@queries__syntax-9.prql.snap
  prql-compiler/src/parser.rs
  prql-compiler/src/semantic/mod.rs
  prql-compiler/src/sql/codegen.rs
  prql-compiler/src/sql/dialect.rs
  prql-compiler/src/sql/mod.rs
  prql-compiler/src/sql/target.rs
  prql-compiler/src/sql/translator.rs
  prql-compiler/src/test.rs
  prql-js/src/lib.rs
  prql-python/src/lib.rs
Labels: pr-test-all

#1410 chore: Tweak snapshot integration test
  book/tests/snapshot.rs
Labels: pr-test-all

#1452 build: Upgrade insta
  Cargo.lock
  Taskfile.yml
  book/Cargo.toml
  prql-compiler/Cargo.toml
  prql-compiler/tests/integration/main.rs
  prql-compiler/tests/integration/snapshots/integration__tests__test@genre_counts.prql-2.snap
  prql-compiler/tests/integration/snapshots/integration__tests__test@genre_counts.prql.snap
  prql-compiler/tests/integration/snapshots/integration__tests__test@invoice_totals.prql-2.snap
  prql-compiler/tests/integration/snapshots/integration__tests__test@invoice_totals.prql.snap
Labels: pr-test-all

#1454 chore: Add insta config
  .config/insta.yaml
Labels: pr-test-all

#1455 ci: Use `cargo insta` in CI
  .config/insta.yaml
  .github/actions/test-rust/action.yaml
  .github/workflows/pull-request.yaml
Labels: pr-test-all

#1448 test: Raise on unreferenced snapshots
  .config/insta.yaml
  .github/actions/test-rust/action.yaml
Labels: pr-test-all

#1014 feat: relation literal & from_csv
  Cargo.lock
  prql-compiler/Cargo.toml
  prql-compiler/src/ast/pl/literal.rs
  prql-compiler/src/ast/rq/mod.rs
  prql-compiler/src/semantic/lowering.rs
  prql-compiler/src/semantic/std.prql
  prql-compiler/src/semantic/transforms.rs
  prql-compiler/src/semantic/type_resolver.rs
  prql-compiler/src/sql/gen_expr.rs
  prql-compiler/src/sql/gen_query.rs
Labels: good first issue

#1497 feat: expose PR and RQ in playground, take 2
  playground/src/output/Output.js
  playground/src/workbench/Workbench.js
Labels: pr-test-all

#1542 build: Inherit more from the workspace in Cargo
  Cargo.toml
  book/Cargo.toml
  prql-compiler/Cargo.toml
  prql-compiler/examples/compile-files/Cargo.toml
  prql-compiler/prql-compiler-macros/Cargo.toml
  prql-java/Cargo.toml
  prql-js/Cargo.toml
  prql-lib/Cargo.toml
  prql-python/Cargo.toml
Labels: pr-test-all

#1554 refactor: update test-python workflow
  .github/actions/test-python/action.yaml
  .github/dependabot.yml
  .github/workflows/test-all.yaml
  .github/workflows/test-python.yaml
Labels: pr-test-all

#1558 ci: Remove `job` from concurrency
  .github/workflows/pull-request.yaml
  .github/workflows/test-python.yaml
Labels: pr-test-all

#1576 docs: added elixir-prql to book
  book/src/SUMMARY.md
  book/src/bindings/README.md
  book/src/bindings/elixir.md
Labels: pr-publish-web

#1609 ci: Fix udeps job
  .github/workflows/nightly.yaml
Labels: pr-nightly

#1601 docs: Move development & contributing docs to book
  .github/workflows/README.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  book/src/SUMMARY.md
  book/src/contributing/README.md
  book/src/contributing/development.md
  book/src/contributing/fortnightly-dev-call.ics
  book/src/contributing/using-docker.md
  book/src/internals/compiler-architecture.md
  playground/README.md
Labels: pr-publish-web

#1219 docs: integrate book and playground into main website
  website/config.yml
  website/content/book_integrated.html
  website/content/playground_integrated.html
  website/themes/prql-theme/layouts/_default/baseof.html
  website/themes/prql-theme/layouts/_default/big_iframe.html
  website/themes/prql-theme/static/style.css
Labels: web
